body {
	margin: 0;
	padding: 0;
	font-family: 'Bai Jamjuree', sans-serif;
	background: #F6F8FA;
}

section {
	padding-left: 60px;
	margin-bottom: 60px;
}

/****** Section Top filters and group *****/

.section_top_nav {
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 60px;
}

.section_top_nav_search {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.section_top_nav_search .top_search {
	margin-right: 20px;
}

.top_filter input {
    padding: 7px 7px 7px 30px;
    border: 1px solid #78808A;
    box-sizing: border-box;
    border-radius: 12px;
    background: url(../img/filter-icon.png) no-repeat left 7px center;
    background-size: 13px;
    outline: none;
    max-width: 90px;
}

button.group_item {
	background: none;
	outline: none;
	border: 0;
	cursor: pointer;
}

button.group_item img,
button.group_item span {
	display: inline-block;
	vertical-align: middle;
}

button.group_item span {
	font-family: 'Bai Jamjuree';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #78808A;
}

button.tiel_group_selected span {
	color: #41D0BF;
}



h4 {
	font-family: 'Bai Jamjuree';
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	color: #3F4E57;
	margin: 0;
}

h5 {
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	color: #3F4E57;
	margin: 0;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	font-family: 'Bai Jamjuree';
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #78808A;
}
::-moz-placeholder { /* Firefox 19+ */
	font-family: 'Bai Jamjuree';
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #78808A;
}
:-ms-input-placeholder { /* IE 10+ */
	font-family: 'Bai Jamjuree';
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #78808A;
}
:-moz-placeholder { /* Firefox 18- */
	font-family: 'Bai Jamjuree';
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #78808A;
}

.select {
	padding: 13px 30px 13px 13px;
	box-sizing: border-box;
	border: 1px solid #F1F6F7;
	border-radius: 12px;
	cursor: pointer;
	background: url(../img/sub-menu/select-icon.png) no-repeat right 17px center;
}

.select-val {
	font-family: 'Bai Jamjuree';
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	color: #3F4E57;
}

/****** Grid *****/
.grid_wrapper {
	position: fixed;
    left: 104px;
    height: 100%;
    right: 0;
    bottom: 0;
}

.grid {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    height: 100%;   
}

.col {
	position: relative;
	box-sizing: border-box;
}

.l-col {
	width: 280px;
	box-shadow: 4px 0px 30px rgba(0, 0, 0, 0.05);
	border-radius: 0px 12px 12px 0px;
	padding: 30px 25px;
	background: #fff;
}

.r-col {
	flex: 1;
	overflow-y: scroll;
}


.sub_menu_trans {
	transition:  .2s linear;
}

.sub_menu_trans_hide {
	width: 0 !important;
	padding: 0;
}

.toggle_menu_content {
	display: none;
}

/****** Table ******/

.table_wrapper {
	margin-top: 10px;
	margin-right: 50px;
	background: #FEFEFF;
	border-radius: 12px;
}

.table_row {
	padding-left: 10px;
	padding-right: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #FEFEFF;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
	border-radius: 12px;
}

.table_head .table_cell_head {
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	color: #3F4E57;
	flex: 1;
}

.table_row .table_cell {
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 14px;
	line-height: 17px;
	color: #7D7D7D;
	flex: 1;
}

.tbl_head_sub_ttl {
	font-size: 14px;
	line-height: 17px;
	color: #7D7D7D;
	font-weight: normal;
}

.table_head .table_chapter {
	flex: none;
    width: 198px;
    margin-right: 67px;
}

.expd_table {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.table_set {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.table_row .cell_number {
	width: 20px;
	flex: none;
	font-size: 16px;
}

/****** Divider *****/
.divider {
	margin-top: 30px;
	position: relative;
	width: 100%;
	height: 1px;
	background: #fff;
}

.divider_big {
	position: absolute;
	top: -3px;
	width: 310px;
	height: 7px;
	background: #DDDDDD;
	border-radius: 5px;
}

/****** Left Menu *****/
.left_nav {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: 104px;
	padding: 28px;
	box-sizing: border-box;
	text-align: center;
	border: 1px solid #F1F6F7;
	background: #fff;
}

.left_nav button {
	display: inline-block;
	border: 0;
	outline: none;
	background: none;
	margin-bottom: 50px;
	cursor: pointer;
}

.left_nav button:last-child {
	margin-bottom: 0;
	display: block;
	position: absolute;
	bottom: 58px;
	left: 32px;
	right: 32px;
}


/****** Sub Menu *****/

.search-box {
	margin-bottom: 35px;
}

.search-box img,
.search-box span {
	display: inline-block;
	vertical-align: middle;
}

.search-box img {
	margin-right: 10px;
}

.s_plchdr {
	font-family: 'Bai Jamjuree';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: #78808A;
}

.company-select-group {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 37px;
}

.company-select-group .select {
	width: 198px;
	margin-right: 5px;
} 

.plus_btn {
	border: 0;
	outline: none;
	display: inline-block;
	vertical-align: middle;
	padding: 0;
	cursor: pointer;
}

.submenu_btn {
	display: block;
	border: 0;
	outline: none;
	background: none;
	font-family: 'Bai Jamjuree';
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	color: #3F4E57;
	box-sizing: border-box;
	padding: 13px;
	margin-bottom: 37px;
	cursor: pointer;
}

.team-select .select-val {
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: #78808A;
}

.team-select {
	margin-bottom: 30px;
}

.team_list {
	height: 300px;
	overflow-y: scroll;
}

.team_list__item {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 30px;
}

.team_img {
	width: 46px;
	margin-right: 15px;
}

.team_img img {
	width: 100%;
}

.team_desc .team_name {
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: #989B9F;
	margin-bottom: 7px;
}

.team_desc .team_email {
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #78808A;
}


.arch_btn {
	position: absolute;
	bottom: 45px;
	left: 25px;
	right: 25px;
	border: 0;
	outline: none;
	background: none;
	font-family: 'Bai Jamjuree';
	font-size: 12px;
	line-height: 15px;
	color: #78808A;
	padding: 15px 0;
	text-align: center;
	border: 1px solid #F1F6F7;
	box-sizing: border-box;
	border-radius: 12px;
	width: 234px;
	cursor: pointer;
}

.hide_submenu_btn {
	border: 0;
	outline: none;
	background: none;
	position: absolute;
	top: 23px;
	right: -25px;
	cursor: pointer;
	z-index: 1;
}

.top_bar {
	margin-left: 60px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding-bottom: 38px;
	border-bottom: 1px solid #FFFFFF;
	margin-bottom: 25px;
}

/****** Top Search *****/
.top_search input {
	padding: 7px 7px 7px 30px;
	border: 1px solid #78808A;
	box-sizing: border-box;
	border-radius: 12px;
	background: url(../img/sub-menu/search-icon.png) no-repeat left 7px center;
	background-size: 13px;
	outline: none;
}

.account {
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	padding: 5px;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
	border-radius: 0px 0px 0px 12px;
}

.acc_desc {
	padding-left: 10px;
	padding-right: 20px;
	border-right: 1px solid #F1F6F7;
	margin-bottom: 5px;
    margin-top: 5px;
}

.acc_desc_name {
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: #3F4E57;
}

.acc_desc_email {
	font-weight: 500;
	font-size: 10px;
	line-height: 12px;
	color: #78808A;
	mix-blend-mode: normal;
}

.acc_notif,
.acc_clock {
	width: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.acc_notif {
	border-right: 1px solid #F1F6F7;
}

.sec_ttl {
	margin-right: 160px;
}

.sec_ttl img {
	margin-right: 10px;
}

.sec_ttl img,
.sec_ttl h4 {
	display: inline-block;
	vertical-align: middle;
}

.section_ttl {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 60px;
	margin-bottom: 20px;
}

.sec_left {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/****** Invite block *****/

.invite {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.invite_list {
	margin-right: 15px;
}

.invite_list img {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	margin-left: -10px;
}

.invite_list img:first-child {
	margin-left: 0;
}

.invite_members_btn {
	border: 0;
	outline: none;
	background: none;
	cursor: pointer;
}

.invite_members_btn img {
	margin-right: 10px;
	display: inline-block;
	vertical-align: middle;
}

.invite_members_btn span {
	display: inline-block;
	vertical-align: middle;
	font-family: 'Bai Jamjuree';
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #78808A;
}

.fullscreen_icon_btn {
	background: none;
	outline: none;
	border: 0;
	cursor: pointer;
}

/****** Task Completed *****/
.task_completed {
	max-width: 500px;
	padding-left: 20px;
}

.task_top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.task_stat {
	font-weight: 500;
	font-size: 13px;
	line-height: 16px;
	color: #3F4E57;
}

.task_drop {
	font-size: 12px;
	line-height: 15px;
	color: #6A707E;
	cursor: pointer;
}

.task_drop span {
	display: inline-block;
	vertical-align: middle;
}

.drop_value {
	color: #5AA5E9;
	padding-right: 20px;
	background: url(../img/sub-menu/select-icon.png) no-repeat right 5px center;
}

.stat_line {
	position: relative;
	margin-top: 20px;
	height: 4px;
	width: 100%;
	background: #EBEFF2;
	border-radius: 3px;
}
.stat_per {
	height: 4px;
	position: absolute;
	left: 0;
	width: 75%;
	background: #41D0BF;
	border-radius: 3px;
}

/****** Dash grid *****/
.dash_grid {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding-left: 20px;
	padding-right: 50px;
}

.dash_left {
	width: 500px;
}

.dash_right {
	flex: 1;
	padding-left: 60px;
}

.calendar {
	padding-bottom: 25px;
	border-bottom: 1px solid #EBEFF2;
}

.cal_date_current {
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	color: #3F4E57;
	margin-bottom: 50px;
}

.cal_row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.cal__item {
	cursor: pointer;
}

.cal_day {
	font-weight: 500;
	font-size: 13px;
	line-height: 16px;
	text-align: center;
	color: #334D6E;
	opacity: 0.5;
	margin-bottom: 10px;
}

.cal_date {
	font-weight: 600;
	font-size: 12px;
	line-height: 15px;
	text-align: center;
	color: #78808A;
}

.cal__item_selected .cal_day {
	color: #41D0BF;
}

.cal__item_selected .cal_date {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 24px;
	height: 24px;
	background: #41D0BF;
	border-radius: 50%;
	color: #fff;
}

.dash_list {
	padding-top: 25px;
}

.dash__item {
	width: 100%;
	background: #FEFEFF;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
	border-radius: 12px;
	padding: 15px;
	box-sizing: border-box;
	margin-bottom: 25px;
}

.dash__item:last-child {
	margin-bottom: 0;
}


.dash__item_event {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.dash__item_e_ttl {
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	color: #3F4E57;
}

.dash__item_e_name {
	font-weight: 600;
	font-size: 12px;
	line-height: 15px;
	text-align: right;
	color: #3F4E57;
}

.e_date {
	margin-top: 10px;
}

.e_date span {
	display: inline-block;
	vertical-align: middle;
	font-size: 13px;
	line-height: 16px;
	color: #7D7D7D;
}

.e_avtor {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.e_name img {
	margin-right: 10px;
}

.e_name img,
.e_name span {
	display: inline-block;
	vertical-align: middle;
}

.e_name span  {
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: #7D7D7D;
}

.e_name img {
	width: 30px;
	height: 30px;
}

.e_status {
	display: inline-block;
	padding: 7px 10px;
	box-sizing: border-box;
	border-radius: 12px;
	color: #FFFFFF;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
}

.e_compl {
	background: #41D0BF;
}

.e_end {
	background: #F7685B;
}

.edit_rght {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.edit_crl {
	width: 12px;
	height: 12px;
	border-radius: 50%;
}

.e_edit_yellow {
	background: #FFB946;
}

.e_edit_green {
	background: #41D0BF;
}

.e_edit {
	margin-right: 40px;
}

.e_edit span,
.e_edit img {
	display: inline-block;
	vertical-align: middle;
	margin-right: 8px;
}


/****** Dash right column *****/
.dash_box {
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
	border-radius: 12px;
	background: #fff;
	margin-bottom: 25px;
}

.dash_box:last-child {
	margin-bottom: 0;
}

.dash_box_header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 14px 20px;
	border-radius: 12px 12px 0 0;
	border-bottom: 1px solid #F1F6F7;
}

.deals_graph {
	padding: 20px;
}

.show_more {
	text-align: center;
	width: 100%;
	padding: 23px;
}

.show_more button {
	border: 0;
	outline: none;
	background: none;
	font-family: 'Bai Jamjuree';
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	color: #989B9F;
	cursor: pointer;
}

/****** Kanban section *****/

.kanban .sec_ttl {
	margin-right: 50px;
}

.kanban_column {
	width: 33.33%;
	margin-right: 20px;
}

.kanban_column:last-child {
	margin-right: 0;
}

.kanban_top {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 25px;
}
.kanban .dash_grid {
	padding-left: 0;
}

/****** Kanban labels top *****/

.kanban_top_label {
	display: inline-block;
	vertical-align: middle;
	border-radius: 5px;
	padding: 7px;
	box-sizing: border-box;
	text-align: center;
	font-family: 'Bai Jamjuree';
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
}

.kanban_to_do_label {
	background: #EBEFF0;
	color: #78808A;
}

.kanban_test_label {
	color: #8BA7D5;
	background: #E4EFFE;
}

.kanban_done_label {
	background: #F7E4E4;
	color: #CF9092;
}

.kanban_add_btn {
	border: 0;
	outline: none;
	background: none;
	cursor: pointer;
}

.kanban_add_btn img {
	display: inline-block;
	vertical-align: middle;
}

/****** Kanban blocks *****/

.kanban_block {
	position: relative;
	background: #FEFEFF;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2), 0px 4px 20px rgba(0, 0, 0, 0.1);
	border-radius: 12px;
	margin-bottom: 20px;
}

.kanban_block:last-child {
	margin-bottom: 0;
}

.kanban_block_label_top {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 5px;
	padding-right: 10px;
}

.kanban_label {
	border-radius: 12px 0px;
	color: #fff;
	font-weight: 600;
	font-size: 10px;
	line-height: 12px;
	padding: 5px 7px;
	box-sizing: border-box;
}

.kanban_label img,
.kanban_label span {
	display: inline-block;
	vertical-align: middle;
}

.bug_label {
	background: #F13810;
}

.epic_label {
	background: #109CF1;
}

.book_label {
	background: #54CF49;
}

/****** Kanban blocks Tabs *****/

.kanban_tab {
	position: absolute;
	top: 0;
	right: 50px;
	width: 20px;
	height: 25px;
	background: green;
	overflow: hidden;
}

.kanban_tab:after {
	position: absolute;
	display: block;
	content: "";
	background: #fff;
	width: 20px;
	height: 20px;
	transform: rotate(135deg);
    bottom: -14px;
}

.kanban_tab_azure {
	background: #41D0BF;
} 

.kanban_tab_gray {
	background: #78808A;
}

.kanban_block_marked {
	position: absolute;
	right: -6px;
	top: -6px;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: #41D0BF;
	border: 1px solid #FFFFFF;
	box-sizing: border-box;
}

.kanban_img {
	position: relative;
	height: 165px;
	padding: 5px;
	box-sizing: border-box;
}

.kanban_img img {
	width: 100%;
	height: 100%;
}

.kanban_img_number {
	position: absolute;
	right: 23px;
	bottom: 10px;
	padding: 2px 6px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #78808A;
	border-radius: 5px;
}

.kanban_img_number_counter {
	display: inline-block;
	vertical-align: middle;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	color: #F1F6F7;
}

.kanban_img_number span,
.kanban_img_number img {
	display: inline-block;
	vertical-align: middle;
}

.kanban_img_number img {
	width: 14px;
	height: 12px;
} 

.kanban_img_number span {
	margin-right: 5px;
}

.kanban_block h5 {
	padding-left: 5px;
	padding-right: 5px;
	margin: 5px 0;
}

/****** Kanban Tags *****/
.tags_rows {
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: 13px;
}

.kanab_tag {
	display: inline-block;
	vertical-align: middle;
	border-radius: 12px;
	padding: 3px 10px;
	font-weight: 600;
	font-size: 12px;
	line-height: 15px;
	margin-right: 10px;
}

.kanab_tag:last-child {
	margin-right: 0;
}

.kanab_tag-design-1 {
	color: #8BA7D5;
	background: #E4EFFE;
}
.kanab_tag-design-2 {
	color: #8D71FF;
	background: #C6B8FF;
}

.kanab_tag-valuation {
	color: #E6BB4F;
	background: #FFEBB9;
}

.kanab_tag-lg {
	color: #92C193;
	background: #EAF7EC;
}

.kanab_tag-violet {
	color: #FFFFFF;
	background: #6A68EC;
}

.kanab_tag-creative {
	color: #FFFFFF;
	background: #4396EC;
}

.kanab_tag-leave {
	color: #78808A;
	background: #EDECEC;
}

.kanab_tag-dev {
	color: #FFFFFF;
	background: #57C1D5;
}

.kanab_episode-1 {
	background: #E4EFFE;
	color: #8BA7D5;
}

.kanab_episode-2 {
	color: #92C193;
	background: #EAF7EC;
}

.kanab_tag-overdue {
	background: #FF7D7D;
	color: #FFFFFF;
}

.kanab_tag-plus {
	color: #9DA6B1;
	background: #F1F6F7;
}

.row_assign {
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: 10px;
}

.kanban_footer {
	padding-left: 5px;
	padding-right: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 10px;
}

.kanban_date {
	font-weight: 600;
	font-size: 12px;
	line-height: 15px;
	color: #78808A;
}

button.kanban_footer_btn {
	border: 0;
	outline: none;
	background: none;
	margin-right: 20px;
	cursor: pointer;
}

button.kanban_footer_btn:last-child {
	margin-right: 0;
}

.kanban_footer_btn span,
.kanban_footer_btn img {
	display: inline-block;
	vertical-align: middle;
}

.kanban_footer_btn_counter {
	font-weight: 600;
	font-size: 12px;
	line-height: 15px;
	color: #78808A;
}

.kanban_footer_set {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.kanban_line {
	margin: 0 auto;
	max-width: 180px;
	height: 8px;
	border-radius: 12px 12px 0px 0px;
}

.kanban_line_yellow {
	background: #FFCF53;
}

.kanban_line_red {
	background: #FF5391;
}

.kanban_line_green {
	background: #80DA78;
}

/******* Backlog *******/
.backlog .sec_ttl {
    margin-right: 50px;
}

.backlog .dash_grid {
	padding-left: 0;
}

.filter_fast a {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	font-family: 'Bai Jamjuree';
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #3F4E57;
	text-decoration: none;
}

.filter_fast a:last-child {
	margin-right: 0;
}

.filter_fast {
	margin-left: 20px;
}

.epics_col {
	width: 150px;
	padding: 10px;
	box-sizing: border-box;
	margin-right: 10px;
}

.backlog_box {
	background: #FEFEFF;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
	border-radius: 12px;
}

.epics_list {
	margin-top: 15px;
}

.epic_btn {
	display: inline-block;
	vertical-align: middle;
	border: 0;
	cursor: pointer;
	background: none;
	width: 100%;
	font-family: 'Bai Jamjuree';
	font-weight: 600;
	font-size: 12px;
	line-height: 15px;
	margin-bottom: 20px;
	color: #78808A;
	text-align: left;
	padding: 0;
	outline: none;
}

.epic_selected {
	color: #41D0BF;
}

.epic_btn:last-child {
	margin-bottom: 0;
}

.epic_btn_set {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.context_menu_btn {
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	outline: none;
	border: 0;
	background: none;
}

.epic_btn_set button {
	margin-bottom: 0;
}

.epic_btn_set .context_menu_btn {
	position: relative;
	top: 3px;
}

.issue_box_list_wrap {
	width: 460px;
	margin-right: 10px;
}

.issue_box_list {
	width: 100%;
}

.issue_box {
	width: 100%;
	background: #FEFEFF;
	border-radius: 12px;
	margin-bottom: 25px;
}

.issue_box:last-child {
	margin-bottom: 0;
} 

.issue_box_ttl {
    padding-top: 7px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 12px;
	padding-left: 10px;
	border-radius: 12px 12px 0 0;
}

.issue_box_ttl-left {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.issue_box_ttl-left h5 {
	margin-right: 18px;
}

.issue_number {
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #78808A;
}

.isssue_status { margin-right: 7px; }

.isssue_status img {
	display: inline-block;
	vertical-align: middle;
}

.issue_members {
	padding-left: 16px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 5px;
}

.invt_stat {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.invt_stat span {
	font-weight: 600;
	font-size: 10px;
	line-height: 12px;
	color: #78808A;
}

.linked_crcl {
	width: 16px;
	height: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #F1F6F7;
    border-radius: 50%;
}

.issue_row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 5px 5px 10px;
	background: #FEFEFF;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
	border-radius: 12px;
	margin-bottom: 5px;
}

.issue_priority__item {
	display: inline-block;
	vertical-align: middle;
	padding: 0 5px;
	border-radius: 12px;
	font-weight: 600;
	font-size: 10px;
	line-height: 12px;
	color: #FFFFFF;
}

.issue_priority_med {
	background: #FFCF53;
}

.issue_priority_hight {
	background: #FF5391;
}

.issue_priority_low {
	background: #80DA78;
}

.isssue_text {
	font-weight: 500;
	font-size: 12px;
	line-height: 24px;
	color: #78808A;	
}

.isssue_text span {
	color: #3F4E57;
}

.issue_prior_mark {
	font-weight: 600;
	font-size: 12px;
	line-height: 15px;
	color: #41D0BF;
}

.issue_land {
	font-weight: 600;
	font-size: 12px;
	line-height: 15px;
	color: #FF9737;
}

.issue_member img {
	width: 30px;
	height: 30px;
}

.issue_status img,
.issue_member img {
	display: inline-block;
	vertical-align: middle;
}

.issue_wrap {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.issue_wrap > div {
	margin-right: 8px;
}

.issue_status {
	width: 17px;
}

.issue_priority {
	text-align: center;
	width: 50px;
}

.issue_prior_mark {
	width: 20px;
}

.issue_land {
	width: 74px;
}

.add_issue_btn {
	font-family: 'Bai Jamjuree';
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	color: #78808A;
	background: none;
	outline: none;
	border: 0;
}

.add_issue_wrap {
	margin-top: 13px;
}

.team_space {
	flex: 1;
	position: relative;
}

/****** Team space *****/
.team_space_header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 12px 12px  0 0;
	border-bottom: 1px solid #F1F6F7;
}

.ts_img {
	padding: 5px;
	box-sizing: border-box;
	border-right: 1px solid #F1F6F7;
}

.ts_img img {
	width: 100%;
	height: 100%;
}

.ts_text h5 span {
	color: #41D0BF;
}

.ts_btns {
	padding-right: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.ts_btns button {
	padding: 0;
}

.ts_close {
	margin-bottom: 10px;
	background: none;
	display: inline-block;
	vertical-align: middle;
	outline: none;
	border: 0;
	cursor: pointer;
}

.ts_grid {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.ts_l {
	padding-left: 6px;
	box-sizing: border-box;
	width: 57px;
}

.ts_r {
    border-left: 1px solid #F1F6F7;
	flex: 1;
}

.ts_stat_item {
	padding: 12px 0;
	text-align: center;
	border-bottom: 1px solid #F1F6F7;
	font-weight: 600;
	font-size: 12px;
	line-height: 15px;
	color: #78808A;
}

.ts_stat_item img {
	display: inline-block;
}

.ts_stat_item span {
	display: block;
}

.ts_r {
	padding: 10px;
}

.ts_bx {
	margin-bottom: 18px;
}

.ts_title .sec_ttl {
	margin-right: 0;
}

.ts_bx .ts_title h5 {
	display: inline-block;
	vertical-align: middle;
	font-family: 'Bai Jamjuree';
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	color: #3F4E57;
}

.ts_bx_content {
	margin-top: 15px;
}

.ts_bx_content__item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}

.ts_cont_name {
	width: 96px;
	margin-right: 10px;
}

.ts_cont_name {
	font-weight: 600;
	font-size: 12px;
	line-height: 15px;
	color: #78808A;
}

.ts_cont_text {
	display: flex;
	flex: 1;
	justify-content: flex-start;
	align-items: center;
}

.link-green {
	font-family: 'Bai Jamjuree';
	font-weight: 600;
	font-size: 10px;
	line-height: 12px;
	color: #41D0BF;
	text-decoration: none;
}

.ts_cont_text .kanban_top_label {
	font-size: 12px;
	line-height: 15px;
	margin-right: 10px;
}

.ts_cont_text .issue_priority__item {
	font-size: 12px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.green_txt {
	font-size: 14px;
	line-height: 17px;
	color: #41D0BF;
}

.ts_txt_std {
	font-size: 14px;
	line-height: 17px;
	color: #3F4E57;
}

.link-orange {
	font-size: 14px;
	line-height: 17px;
	color: #FF9270;
	text-decoration: none;
}

.ts_rep img {
	display: inline-block;
	vertical-align: middle;
	width: 30px;
	width: 30px;
	margin-right: 10px;
}

.ts_rep .ts_rep_name {
	font-weight: 600;
	font-size: 10px;
	line-height: 12px;
	color: #3F4E57;
}

.link-big {
	font-size: 12px;
	line-height: 24px;
}

.ts_txt_std strong {
	font-weight: 600;
}

.add_desc_txt {
	font-family: 'Bai Jamjuree';
	font-style: italic;
	font-size: 12px;
	line-height: 15px;
	color: #78808A;
}

.team_space .hide_submenu_btn {
	top: auto;
	right: auto;
	bottom: -20px;
	left: 50%;
	margin-left: -14px;
}

.team_space .hide_submenu_btn img {
	transform: rotate(90deg);
}

/******** Department *******/
.department .sec_ttl {
    margin-right: 50px;
}

.table_row .cell_start_date {
	color: #FF5391;
}

.email-link {
	color: #4396EC;
	text-decoration: none;
}

.table_row .cell_thumbl {
	padding-top: 5px;
	padding-bottom: 5px;
}

.table_row .cell_thumbl img {
	width: 30px;
	height: 30px;
    margin-left: 15px;
}

.department .section_top_nav {
	margin-bottom: 20px;
}

.table_add {
	padding-left: 15px;
}

.candidate .sec_ttl {
    margin-right: 50px;
}

.job .sec_ttl {
    margin-right: 50px;
}

.table_row .cell_job_desc {
	width: 180px;
    flex: none;
}

.table_row .cell_job_ttl {
	width: 130px;
    flex: none;
}

.add_dep .sec_ttl {
    margin-right: 50px;
}

/***** Add Department *****/
.add_depart_wrapper {
	margin-top: 30px;
	padding-right: 50px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.add_dep_box {
	width: 33.33%;
	margin-right: 20px;
	padding: 10px;
	background: #FEFEFF;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
	border-radius: 12px;
	box-sizing: border-box;
}

.add_dep_box:last-child {
	margin-right: 0;
}

.add_dep_box_header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.dep_name {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.dep_name img {
	width: 30px;
	height: 30px;
	margin-right: 10px;
}

.add_dep_box p {
	font-size: 12px;
	line-height: 15px;
	color: #7D7D7D;
}

.mem_block {
	padding-bottom: 10px;
	border-bottom: 1px solid #F1F6F7;
}

.mem_block img {
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 12px;
	margin-bottom: 10px;
}

.mem_number {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	color: #78808A;
	background: #FFFFFF;
	border: 1px solid #F1F6F7;
	border-radius: 12px;
	box-sizing: border-box;
	width: 30px;
	height: 30px;
}

.mem_number_wrap {
	display: inline-block;
	vertical-align: middle;
	position: relative;
    margin-left: -10px;
    margin-bottom: 10px;
}

.mem_block .invite_list {
	margin-right: 0;
}

.add_dep_box_footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.add_dep_box_footer__item {
	padding-top: 10px;
}

.add_dep_box_footer__item_name {
	font-weight: 600;
	font-size: 12px;
	line-height: 15px;
	color: #3F4E57;
}

.add_dep_box_footer__item_status {
	margin-top: 5px;
	font-size: 12px;
	line-height: 15px;
	color: #7D7D7D;
}

.none_dep {
	display: inline-block;
	vertical-align: middle;
	width: 30px;
	height: 30px;
	background: #F1F6F7;
	border-radius: 12px;
}

.dep_name span {
	margin-right: 10px;
}

.create_new_dep_btn {
	border: 0;
	outline: none;
	background: #41D0BF;
	border-radius: 12px;
	font-family: 'Bai Jamjuree';
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	color: #FFFFFF;
	text-align: center;
	padding: 5px 0;
	width: 150px;
	margin: 20px auto 0;
	display: inherit;
	cursor: pointer;
}

.quest {
	margin-top: 65px;
	margin-bottom: 45px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-right: 50px;
}

.quest_btn {
	display: inline-block;
	vertical-align: middle;
	border: 0;
	outline: none;
	cursor: pointer;
	background: none;
}

.dep_tbl .table_chapter {
	width: 23%;
    margin-right: 5.5%;
}

.mobile_menu {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: #FEFEFF;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
	z-index: 100;
	padding-left: 15px;
	padding-right: 15px;
}

.mobile_menu_content {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
}

.btn_mobile_wrap {
	padding: 15px 0;
}

.show_menu_btn {
	background: none;
	border: 0;
	outline: none;
}

.mob_notif {
	height: 56px;
	padding: 5px 0;
	box-sizing: border-box;
}

.mobile_menu .acc_notif {
	border-right: 0;
	border-left: 1px solid #F1F6F7;	
	height: 100%;
}

@media (max-width: 500px) {
	.deals_graph img {
		width: 100%;
		display: inline-block;
	}
}

@media (max-width: 700px) {
	.sec_left {
		flex-direction: column-reverse;
		align-items: flex-start;
	}

	.sec_left .invite {
		margin: 25px 0;
	}
}

@media (max-width: 992px) {
	.top_bar {
		display: none;
	}

	.left_nav {
		display: none;
	}

	.grid_wrapper {
		left: 0;
	}

	section {
		padding-left: 15px;
		padding-right: 15px;
	}

	.dash_grid {
		padding-right: 0;
		padding-left: 0;
		flex-direction: column;
	}

	.dash_grid .dash_right {
		width: 100%;
	}

	.dash_grid .dash_left {
		width: 100%;
	}

	.dashboard .dash_grid {
		flex-direction: column-reverse;
	}

	.dashboard .dash_right {
		padding-left: 0;
		margin-bottom: 25px;
	}

	.fullscreen_icon_btn {
		display: none;
	}

	.task_completed {
		padding-left: 0;
	}

	.divider {
		display: none;
	}

	section:not(.dashboard) .invite_list {
		display: none;
	}

	section:not(.dashboard) .invite_members_btn {
		padding-left: 0;
		padding-right: 0;
	}

	.section_top_nav {
		padding-right: 0;
	}

	.kanban .dash_grid {
		flex-direction: row;
		width: 100%;
		overflow-x: scroll;
		padding-bottom: 20px;
		margin-left: -15px;
		margin-right: -15px;
		padding-left: 15px;
	}

	.kanban_column:last-child {
		margin-right: 15px;
	}

	.kanban_column {
		width: 302px;
		flex: none;
	}

	.epics_col {
		width: 100%;
		margin-bottom: 25px;
	}

	.backlog .dash_grid {
		width: 100%;
		overflow-x: scroll;
	}

	.team_space {
		width: 100%;
	}

	.backlog .section_top_nav_search {
		flex-direction: column;
		align-items: flex-start;
		width: 65%;
	}

	.backlog .section_top_nav_search > div {
		margin-bottom: 10px;
	}

	.backlog .filter_fast {
		margin-left: 0;
	}

	.backlog .section_top_nav {
		align-items: flex-start;
	}

	.table_wrapper {
		width: 100%;
		overflow-x: scroll;
	}

	.dep_tbl, .dp_tbl {
		width: 946px;
	}

	.can_tbl, .job_tbl {
		width: 946px;
	}

	.add_depart_wrapper {
		flex-direction: column;
		padding-right: 0;
	}

	.add_dep_box {
		width: 100%;
		margin-right: 0;
		margin-bottom: 25px;
	}

	.section_top_nav_search .top_search {
		margin-right: 5px;
	}

	.top_search input {
		width: 120px;
	}

	.grid_wrapper {
		top: 50px;
	}

	.mobile_menu {
		display: block;
	}

	.left_nav {
		z-index: 110;
		overflow-y: scroll;
	}

	.sub_menu_trans {
		position: fixed;
	    height: 94vh;
	    top: 56px;
	    bottom: 0;
	    left: 102px;
	    z-index: 112;
	    overflow: scroll;
	}

	.l-col {
		width: 67%;
	}

	.hide_submenu_btn {
		right: 0;
	}

	.arch_btn {
		width: 207px;
	}

	.team_list {
		height: 229px;
	}

	.quest {
		padding-right: 12px;
	    padding-bottom: 12px;
	}

}
